@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  background-image: url(./images/back-image2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 55%;
  background-attachment: fixed;
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  font-family: Comfortaa, sans-serif;
}

.header {
  position: relative;
}

.btn {
  font-size: 1.5rem;
}

#title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 9rem;
  font-size: 6rem;
}

#links a {
  font-size: 2.5rem;
  transition: 0.3s;
}
#links a:hover {
  transform: scale(115%);
}

hr {
  width: 40%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

li {
  font-size: 1.7rem;
}

#scroll-btn {
  color: white;
  padding: 1.5rem;
  font-size: 1.3rem;
  background-color: rgba(0, 0, 0, 0);
  border: 0.2rem solid white;
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  transition: 0.3s;
}
#scroll-btn:hover {
  transform: scale(1.2);
  background-color: rgba(255, 255, 255, 0.247);
}

/*PORTFOLIO SECTION*/

#portfolio {
  margin-top: 15rem;
  background-color: white;
  color: black;
  max-width: 90%;
  position: relative;
  scroll-behavior: smooth;
}
